body {
     font-family: Arial, sans-serif;
      background-color: lightblue;
  
}

  h1 {
   text-align: center;
   color: green;

  }
  
  .container {
    max-width: 600px;
    height: 200px;
    margin: 50px auto;
    padding: 0 20px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: aquamarine;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    border-radius: 2px;
    border: 2px solid black;
    color: white;
    border: none;
    cursor: pointer;
    transition: 2s;  
}
  
  button:hover {
    background-color: #45a049;
    border-radius: 2px;
    border: 2px solid black;  
    color: black;
    transition: 2s;
}
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .delete {
    color: purple;
    cursor: pointer;
    
  }